@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  font-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.default-body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* .about-hero {
  background-image: url("../public/icons/about-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

@layer components {
  /* TYPOGRAPHY */

  .text-h1-1 {
    @apply text-6xl leading-[1.5] font-light tracking-[-0.3px];
  }

  .text-h1-2 {
    @apply text-6xl leading-[1.5] font-medium tracking-[-0.3px];
  }

  .text-h2-1 {
    @apply text-5xl leading-[1.5];
  }

  .text-h2-2 {
    @apply text-5xl leading-[1.5] font-semibold;
  }

  .text-h3-1 {
    @apply text-[40px] leading-[1.5] tracking-[0.1px];
  }

  .text-h3-2 {
    @apply text-[40px] leading-[1.5] tracking-[0.1px] font-medium;
  }

  .text-h4-1 {
    @apply text-[32px] leading-[1.5] tracking-[020px] font-medium;
  }

  .text-h4-2 {
    @apply text-[32px] leading-[1.5] tracking-[0.08px] font-semibold;
  }

  .text-h5-1 {
    @apply text-2xl leading-[1.5] tracking-[0.3px] font-medium;
  }

  .text-h5-2 {
    @apply text-2xl leading-[1.5] tracking-[0.3px] font-semibold;
  }

  .text-h6-1 {
    @apply text-xl leading-[1.5] tracking-[0.25px] font-medium;
  }

  .text-h6-2 {
    @apply text-xl leading-[1.5] tracking-[0.25px] font-semibold;
  }

  .text-subtitle1-1 {
    @apply text-base leading-[1.5] tracking-[0.024px] font-medium;
  }

  .text-subtitle1-2 {
    @apply text-base leading-[1.5] tracking-[0.024px] font-semibold;
  }

  .text-subtitle2-1 {
    @apply text-sm leading-[1.5] tracking-[0.014px] font-medium;
  }

  .text-subtitle2-2 {
    @apply text-sm leading-[1.5] tracking-[0.014px];
  }

  .text-body1-1 {
    @apply text-base leading-[1.5] tracking-[0.08px] font-medium;
  }

  .text-body1-2 {
    @apply text-base leading-[1.5] tracking-[0.24px] font-semibold;
  }

  .text-body2-1 {
    @apply text-sm leading-[1.5] tracking-[0.035px] font-medium;
  }

  .text-body2-2 {
    @apply text-sm leading-[1.5] tracking-[0.035px];
  }

  .text-btn-1 {
    @apply text-sm leading-[1.5] tracking-[0.0175px] font-medium;
  }

  .text-btn-2 {
    @apply text-sm leading-[1.5] tracking-[0.0175px] font-semibold;
  }

  .text-caption-1 {
    @apply text-xs leading-[1.5] tracking-[0.048px] font-medium;
  }

  .text-caption-2 {
    @apply text-xs leading-[1.5] tracking-[0.048px];
  }

  .text-overline-1 {
    @apply text-[10px] leading-[1.5] tracking-[0.15px] font-medium;
  }

  .text-overline-2 {
    @apply text-[10px] leading-[1.5] tracking-[0.15px] font-semibold;
  }

  /* TYPOGRAPHY ENDS */

  /* BUTTONS */

  .rounded-btn {
    @apply rounded p-4 flex items-center justify-center focus:outline-none gap-2 text-btn-2 text-white;
  }
  .rounded-btn.blue {
    @apply bg-pri-blue;
  }
  .rounded-btn.red {
    @apply bg-compli-2;
  }

  .outline-btn {
    @apply bg-transparent p-3 flex items-center justify-center focus:outline-none gap-2 text-btn-2 text-dark-1 border-[0.5px] border-dark-1;
  }

  .block-btn {
    @apply p-3 flex items-center justify-center focus:outline-none gap-2 text-btn-2 text-white;
  }
  .block-btn.red {
    @apply bg-compli-2;
  }

  /* INPUTS */

  .input-wrap {
    @apply w-full grid gap-2 bg-transparent;
  }

  .input-wrap>.input-label {
    @apply text-sm lg:text-base text-dark-1;
  }

  .input-wrap.is-focused>.input-label {
    @apply text-pri-blue;
  }

  .input-wrap.is-disabled>.input-label {
    @apply text-dark-1;
  }

  .input-wrap.error>.input-label {
    @apply text-compli-2;
  }

  .input-wrap .input {
    @apply bg-white text-caption-2 placeholder:text-gray-8 text-gray-4 rounded border-gray-8/75 outline-none;
  }

  .input-wrap .input.has-borders {
    @apply p-4 border-[0.4px] shadow-er-1dp;
  }

  .input-wrap.is-hovered .input {
    @apply border-gray-9;
  }

  .input-wrap.is-focused .input.has-borders {
    @apply border-gray-9 shadow-[0_0_0_2px_#E2E8F0];
  }

  .input-wrap.is-disabled .input {
    @apply border-gray-7 bg-[#F8FAFC] text-gray-7;
  }

  .input-wrap.error .input {
    @apply border-compli-2 outline-none;
  }

  .password-input {
    @apply;
  }

  .select-wrap {
    @apply relative w-full bg-transparent grid gap-2 rounded;
  }

  .select-wrap .select-label {
    @apply text-btn-1 text-dark-1;
  }

  .select-wrap .select {
    @apply relative w-full grid gap-2 text-caption-2 text-gray-4 rounded select-none;
  }

  .select-wrap .header {
    @apply relative bg-white grid grid-cols-[1fr_auto] gap-3 items-center rounded border-gray-8/75 hover:border-gray-9 outline-none focus:border-gray-9;
  }

  .select-wrap .header.picture-select {
    @apply grid-cols-[auto_1fr_auto];
  }

  .select-wrap .header.has-borders {
    @apply px-4 py-[13px] border-[0.4px] shadow-er-1dp focus:shadow-[0_0_0_2px_#E2E8F0];
  }

  .select-wrap .select-text {
    @apply w-full;
  }

  .select-wrap .select-text.placeholder {
    @apply text-gray-8;
  }

  .select-wrap .caret {
    @apply w-6 h-6;
  }

  .select-wrap select {
    @apply appearance-none w-full hidden flex-1 border-none;
  }

  /* .select-wrap option {
    @apply;
  } */

  .select-wrap .options-dropdown {
    @apply appearance-none w-full max-h-[150px] overflow-y-auto p-3 gap-1 rounded border-[0.3px] border-gray-8 bg-white shadow-s1 box-border;
  }

  /* .select-wrap .option {
    @apply;
  } */

  /* .select-wrap {
    @apply relative w-full bg-white grid gap-2 text-caption-2 text-gray-4 rounded border-[0.4px] border-gray-8/75 shadow-er-1dp hover:border-gray-9 outline-none focus:border-gray-9 focus:shadow-[0_0_0_2px_#E2E8F0];
  }

  .select-wrap>.select-label {
    @apply text-sm lg:text-base text-white;
  }

  .select-wrap:focus>.select-label {
    @apply text-pri-blue;
  }

  .select-wrap.is-disabled>.select-label {
    @apply text-dark-1;
  }

  .select-wrap.error>.select-label {
    @apply text-compli-2;
  }

  .select-wrap .select {
    @apply w-full p-4 border-none bg-transparent focus:outline-none;
  } */

  .select-with-img-wrap {
    @apply relative w-[270px] grid gap-2 text-base lg:text-lg text-white py-4 px-8 rounded-lg border border-dark-1 hover:border-dark-1 focus:outline-2 focus:outline-dark-2 outline-offset-2;
  }

  .select-with-img-wrap>.input-label {
    @apply text-sm lg:text-base text-white;
  }

  .select-with-img-wrap:focus>.input-label {
    @apply text-pri-blue;
  }

  .select-with-img-wrap.is-disabled>.input-label {
    @apply text-dark-1;
  }

  .select-with-img-wrap.error>.input-label {
    @apply text-compli-2;
  }

  .select-with-img-wrap .select-with-img {
    @apply w-full border-none bg-dark-1 focus:outline-none;
  }

  .select-options-dropdown {
    @apply w-full bg-white absolute left-0 grid gap-1 z-50 overflow-y-auto rounded border-[0.3px] border-gray-8 shadow-s1;
  }

  .select-options-dropdown::-webkit-scrollbar {
    width: 5px;
  }

  .select-options-dropdown::-webkit-scrollbar-track {
    background: #D0D0D060;
    border-radius: 2.5px;
  }

  .select-options-dropdown::-webkit-scrollbar-thumb {
    background: #c9c9c960;
    border-radius: 2.5px;
  }

  .select-options-dropdown {
    scrollbar-width: thin;
    scrollbar-color: #D9D9D9 #D0D0D0;
  }

  /* CONTAINERS */

  .container-64 {
    @apply px-4 md:px-8 lg:px-10 xl:px-16 2xl:px-cont1300;
  }

  .container-120 {
    @apply px-4 md:px-12 lg:px-16 xl:px-[7.5rem] 2xl:px-cont1300;
  }

  .container-120-36-mob {
    @apply px-9 md:px-16 xl:px-[7.5rem] 2xl:px-cont1300;
  }

  /* Masonry grid container */
  .grid-sizer {
    @apply w-full md:w-1/2 lg:w-1/3;
  }
}

